body {
  background-color: #172a2d;
  color: #4893ab;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

button {
  color: #112224;
  font-size: 24px;
  background-color: #4893ab;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
}

.hide {
  display: none;
}

span {
  font-size: 24px;
  color: #94cdd9;
  padding: 30px;
}

h2 {
}
